@import '../../../../codyhouse-framework/main/assets/css/style.scss'; 
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700'); 
.container5 {
    width: 100%;
    max-width: 1200px;
    height: 600px;
    padding: 50px;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#slide {
    width: 500px;
    margin-top: 50px;
}

.itemz {
    width: 200px;
    height: 300px;
    background-position: 50% 50%;
    display: inline-block;
    transition: 0.5s;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
}

.itemz:nth-child(1),
.itemz:nth-child(2) {
    left: 0;
    top: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
}

.itemz:nth-child(3) {
    left: 50%;
}

.itemz:nth-child(4) {
    left: calc(50% + 220px);
}

.itemz:nth-child(5) {
    left: calc(50% + 440px);
}

.itemz:nth-child(n+6) {
    left: calc(50% + 660px);
    opacity: 0;
}

.itemz .content {
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    padding: 0;
    color: #eee;
    transform: translate(0, -50%);
    display: none;
    font-family: system-ui;
}

.itemz:nth-child(2) .content {
    display: block;
    z-index: 2;
}

.itemz video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.itemz .name {
    font-size: 40px;
    font-weight: bold;
    opacity: 0;
    animation: showcontent 1s ease-in-out 1 forwards;
}

.itemz .des {
    margin: 20px 0;
    opacity: 0;
    animation: showcontent 1s ease-in-out 0.3s 1 forwards;
}

.itemz button {
    padding: 10px 20px;
    border: none;
    opacity: 0;
    animation: showcontent 1s ease-in-out 0.6s 1 forwards;
}

@keyframes showcontent {
    from {
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
        filter: blur(0);
    }
}

.additional-content {
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    padding: 0;
    color: #eee;
    transform: translate(0, -50%);
    display: none;
    font-family: system-ui;
}

.additional-content.visible {
    display: block;
    opacity: 1;
}

.buttons5 {
    position: absolute;
    bottom: 30px;
    z-index: 3;
    text-align: center;
    width: 100%;
    padding: 10px;
}

.buttons5 button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    transition: 0.5s;
}

.buttons5 button:hover {
    background-color: #60b0d2;
}

.see-more, .go-back {
    display: inline-block;
    margin-top: 10px;
}

.add-to-cart {
    display: inline-block;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #45a049;
}

.proceed-to-tickets {
    text-align: center;
    margin-top: 20px;
}

.btn-proceed {
    display: inline-block;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    transition: background-color 0.3s;
}

.btn-proceed:hover {
    background-color: #45a049;
}

.btn-view-cart{
    display: inline-block;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    transition: background-color 0.3s;
}
.btn-view-cart:hover {
    background-color: #45a049;
}